{% extends 'components/layout.html' %}
{% load static %}

{% block body %}

    <!-- header -->
    <div class="flex flex-col items-center">
        <h1 class="text-4xl font-bold">Smart Traffic Light</h1>
        <h1 class="text-md">Road Builder</h1>
    </div>

    <div class="flex flex-row gap-4 w-full h-full">
        <!-- form -->
        <div class="w-full rounded shadow p-4 bg-base-100 h-full">
            <form action="{% url 'create_road' %}" method="POST" class="flex flex-col gap-2 h-full">
                {% csrf_token %}
                <p class="text-lg font-semibold">Form</p>
                <input name="road_name" type="text" placeholder="Road Name" class="input" id="road_name" required/>
                <select name="intersection_type" class="select hidden" id="intersection_type" disabled>
                    <option value="" disabled selected>Select Intersection Type</option>
                    <option value="cross_intersection">Cross Intersection</option>
                    <option value="t_intersection" disabled>T Intersection</option>
                    <option value="no_intersection" disabled>No Intersection</option>
                </select>
                <select name="road_type" class="select hidden" id="road_type" disabled>
                    <option value="" disabled selected>Select Road Type</option>
                    <option value="one_way">One-Way Road</option>
                    <option value="two_way">Two-Way Road</option>
                    <option value="mix">Mixed Road</option>
                </select>
                <div class="flex gap-3">
                    <select name="vertical_road_type" class="select hidden" id="vertical_road_type" disabled>
                        <option value="" disabled selected>Select Vertical Road Type</option>
                        <option value="one_way">One-Way Road</option>
                        <option value="two_way">Two-Way Road</option>
                    </select>
                    <select name="horizontal_road_type" class="select hidden" id="horizontal_road_type" disabled>
                        <option value="" disabled selected>Select Horizontal Road Type</option>
                        <option value="one_way">One-Way Road</option>
                        <option value="two_way">Two-Way Road</option>
                    </select>
                </div>
                <div class="flex gap-3">
                    <select name="vertical_direction" class="select hidden" id="vertical_direction" disabled>
                        <option value="" disabled selected>Select Vertical Direction</option>
                        <option value="north_to_south">North to South</option>
                        <option value="south_to_north">South to North</option>
                    </select>
                    <select name="horizontal_direction" class="select hidden"  id="horizontal_direction" disabled>
                        <option value="" disabled selected>Select Horizontal Direction</option>
                        <option value="east_to_west">East to West</option>
                        <option value="west_to_east">West to East</option>
                    </select>
                </div>
                <div class="border rounded p-2 flex flex-col gap-2 hidden" id="pedestrian_lane_options">
                    <p class="text-md font-medium">Pedestrian Lane</p>
                    <div>
                        <input type="checkbox" name="pedestrian_lane_north" value="north_lane" class="checkbox" />
                        <label>North Lane</label>
                    </div>
                    <div>
                        <input type="checkbox" name="pedestrian_lane_south" value="south_lane" class="checkbox" />
                        <label>South Lane</label>
                    </div>
                    <div>
                        <input type="checkbox" name="pedestrian_lane_east" value="east_lane" class="checkbox" />
                        <label>East Lane</label>
                    </div>
                    <div>
                        <input type="checkbox" name="pedestrian_lane_west" value="west_lane" class="checkbox" />
                        <label>West Lane</label>
                    </div>
                </div>
                <div class="flex gap-2 justify-end mt-auto">
                    <a href="{% url 'index' %}" type="button" class="btn">Cancel</a>
                    <button type="reset" class="btn">Reset</button>
                    <button type="submit" class="btn" disabled>Save Build</button>
                </div>
            </form>
        </div>
        <!-- visual -->
        <div class="w-full rounded shadow p-4 bg-base-100 h-full">
            <canvas class="w-full h-full" id="myCanvas"></canvas>
        </div>
    </div>
{% endblock body %}

{% block scripts %}
    <script src="{% static 'smart_traffic_light/js/builder.js' %}"></script>
{% endblock scripts %}